<!doctype html>
{% load i18n  parler_tags %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
  {% block head %}

  {% endblock %}
  <title>
    {% block title %}
        PetShop
    {% endblock %}
  </title>
</head>

<body>

  <header>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top ">
      <div class="container">
        <a class="navbar-brand" href="/">PetShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Language" %}
              </a>
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for language in languages %}
                <a class="dropdown-item" href="/{{ language.code }}/">
                  {{ language.name_local }}
                </a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item">
              <a href="{% url 'cart:cart_detail' %}" class="nav-link">
                <i class="fas fa-shopping-cart"></i>
                  {% with total_items=cart|length %}
                  {% if cart|length > 0 %}
                  <span class="item-counter">{{ cart|length }}</span>
                  {% endif %}
                  {% endwith %}
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid content-container">
    <div class="row">
      <div class="col-lg-2  side-container">
        {% block sidebar %}

        {% endblock %}
      </div>

      <!-- Main block-->
      <main id="main" class="col-lg-8 ">
        {% block content %}


        {% endblock %}
      </main>

      <!-- Aside block -->
      <aside class="col-lg-2  side-container">
        {% block aside %}
            
        {% endblock %}
      </aside>
    </div>
  </div>

  <footer>

  </footer>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>


<div class="">

  
</div>
