{% extends 'shop/base.html' %}
{% load i18n  parler_tags %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
{% endblock %}
{% block title %}
MyPetShop: {% if category %}{{ category.name }}{% else %}Categories{% endif %}
{% endblock %}



{% block content %}

   {% for product in products %}
<div class="item">
<a href="{{ product.get_absolute_url }}">
<img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}">
</a>
<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
<br>
${{ product.price }}
</div>
{% endfor %}


{% endblock %}